*{
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
}

html{
    background-color: rgb(80, 27, 145);
    scroll-behavior: smooth;

}

a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    color: white;
}
.container{
    width: 1170px;
    margin: 0 auto;

}
.section_heading{
    font-style: italic;
    font-weight: 700;
    font-size: 50px;
    color: white;
    padding-top: 30px;
    margin: 0 auto;
    
}
.heading_name{
    display: flex;
justify-content: center;
}

.section_heading::after{
    content: "";
    display: block;
    height: 2px;
    width: 70px;    
    background-color: white;
    margin: 0 auto;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
/* NAV */

.nav_wrapper{
z-index: 1000;
}
.nav_list{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: 20px;
    text-decoration: none;
    list-style: none;
    padding-top: 35px;
}

.nav_link{
    
    transition: 0.4s;
    text-align: center;
}
.nav_item{
    margin-right: 10px;
    text-align: center;
  transition: 0.4s;
  border-radius: 10px;
padding: 5px 15px;
}
.nav_item:hover .nav_link{
   color: black;
}
.nav_item:hover{
   
    background-color: white;
}


/* Header */
header{
    position: relative;
    width: 100%;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

}
header::after{
    content: "";
    position: absolute;
    width: 100%;
    bottom: 0;
background: linear-gradient(to top, rgb(28, 5, 34), transparent );
height: 100px;
z-index: 1000;
}
#header_button{
    outline: none;
   text-align: center;
    padding: 10px 5px;
    border-radius: 20px;
    font-weight: 600;
    font-size: 23px;
    background-color: #fff;
    color: #4644b4;
    position: absolute;
    transform: translateY(100px);
    
   z-index: 99;
}
#mount_fr{
    z-index: 100;
}
.text_2{
    position: absolute;
   font-size: 80px;
   transform: translateY(20px);
   left: 1px;
}
.text_1{
    
    position: absolute;
    font-size: 85px;
    right: -180px;
    top: 200px;
}
header img{
    position: absolute;
    top:0;
   width: 100%; 
    object-fit: cover;
    pointer-events: none;

}

/* About me */
.about{
    padding-top: 50px;
    position: relative;
    z-index: 1;
    padding-top: 100px;
background-color:#1c0522;
color:white;
height: 100vh;

}

.about .section_heading::after{
    background-color: #8E4E83;
}
.about::after{
    content: "";
    position: absolute;
    width: 100%;
    bottom: 0;
   
background: linear-gradient(to bottom, rgb(28, 5, 34),rgb(80, 27, 145));
height: 20px;
z-index: 1000;
}
.about_wrapper{
    position: absolute;
    text-align: center;
    z-index: 2;
    color: #ca79bc;
    text-shadow: 0 0 15px rgba(255,255,255,.2), 0 0 10px rgba(255,255,255,.2);
    font-weight: 500;
    font-size: 30px;
    line-height: 50px;
}

#list{
    padding-top: 90px;

   
    width: 30%;
    position: absolute;
    left: 0;
    top: 350px;
    transform: translateX(-200px) rotate(-40deg);
  
}


/* Portfolio */
.portfoilio .container{
    overflow: hidden;
}
.swiper{
    
    z-index: 2;
}
.swiper-button-next,.swiper-button-prev{
    color: white;
 
}
.portfolio .section_heading{
    padding-top: 100px;
}
.portfolio_wrapper{
    position: relative;
    margin-top: 100px;
    width: 800px;
    height: 700px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}

#case{  
    z-index: -2;
    width: 30%;
    position: absolute;
    right: 0;
    transform:translateY(-200px) translateX(-400px) rotate(-20deg);

}
#papka{
    padding-top: 500px;
    transform: rotate(30deg) translateX(-600px);
    width: 30%;
    position: absolute;
    right: 0;


}

.portfolio_img{
    border-radius:10px;
    width: 800px;
    box-sizing: border-box;
    object-fit: cover;
    margin-bottom: 60px;
    transition: 0.4s;
   
}
.portfolio_img:hover{
    box-shadow: 10px 5px 6px 9px rgba(0,0, 0, 0.4);
    transform: scale(1.1);
}
.portfolio_info{
    line-height: 40px;
    text-shadow: 0 0 15px rgba(255,255,255,.2), 0 0 10px rgba(255,255,255,.2);
    margin-left: auto;
    margin-right: auto;
    height: 300px;
    font-weight: 600;
    font-size: 25px;
    color: white;
    text-align: center;
}

/* CContact */
.contact{
position: relative;

}
.contact .section_heading{
    padding-top: 200px;
}
.contact_text{
    margin: 0 auto;
display: flex;
justify-content: center;
color: white;
font-size: 45px;
margin-bottom: 30px;

}

.contact_imgs{
    display: flex;
    justify-content: center;
    gap: 50px;
    
}
.contact_link_wrapper{
   margin-bottom: 100px;
    transition: 0.5s;
}
.contact_link:hover{
    color: #1c0522;
   
}
.contact_link_wrapper:hover{
    transform: scale(1.3);
}
#phone{
    position: absolute;
    object-fit: cover;
    width: 40%;
    pointer-events: none;
left: 0;
    transform: rotate(10deg)translateX(100px)   ;
}
#chat{
    position: absolute;
    object-fit: cover;
    width: 30%;
    pointer-events: none;
    bottom:0px;
    transform: rotate(-10deg) translateX(-900px) translateY(3200px);
   
}
.gmail{
    font-weight: 600;
}
.contact_link{
    transition: 0.2s;
    font-size: 60px;
}


@media screen and (max-width:992px) {
    
    

} 

@media screen and (max-width:768px) {
        
}


@media screen and (max-width:576px) {
    .container{
        width: 100%;
    }
    
}
